<md-card layout-align="center" class="formCard">

    <md-toolbar>
        <h2 class="md-toolbar-tools">Your Profile Settings</h2>
    </md-toolbar>

    <md-tabs class="md-accent" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">About</md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">Change Password</md-tab>
    </md-tabs>

    <md-content ng-switch on="data.selectedIndex" class="tabpanel-container">

        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
            <br>
            <form>

                <div layout="row" layout-align="center" layout-padding>
                    <div class="profileImgCont" ng-file-select ng-file-change="sweet.photoChange(profile)" ng-model="profile.image" accept="image/*" layout="column">
                        <img ng-src="data:image/jpeg;base64,{{ profile.image }}" alt="profilePicture">
                        <span class="chg-span">Change Profile Picture</span>
                    </div>

                    <div layout="column" layout-padding>
                        <md-input-container flex class="md-default-theme">
                            <label for="input_01V">Name</label>
                            <input ng-model="profile.name" class="ng-pristine ng-valid md-input ng-touched" tabindex="0" id="input_01V">
                        </md-input-container>

                        <md-input-container flex class="md-default-theme">
                            <label for="input_02V">Email</label>
                            <input ng-model="profile.email" class="ng-pristine ng-valid md-input ng-touched" tabindex="1" id="input_02V">
                        </md-input-container>
                    </div>
                </div>
                <br>
                <md-divider ng-class="md-default-theme"></md-divider>

                <div layout="row" layout-align="end center" layout-padding>
                    <md-button class="md-primary">Save</md-button>
                </div>

            </form>

        </div>

        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
            <br>
            <form flex name="changePassword" ng-submit="changePw(pw)">

                <div layout="column" layout-padding  class="centerInput">
                    <md-input-container class="md-default-theme">
                        <label for="input_01V">Password</label>
                        <input name="pw.password" ng-model="pw.password" ng-minlength="6" ng-maxlength="20" required class="ng-pristine ng-valid md-input ng-touched" tabindex="0" id="input_01V">
                    </md-input-container>

                    <md-input-container class="md-default-theme">
                        <label for="input_02V">Confirm</label>
                        <input name="confirm" ng-model="pw.confirm" ui-validate=" '$value==pw.password' " ui-validate-watch=" 'pw.password' " required class="ng-pristine ng-valid md-input ng-touched" tabindex="1" id="input_02V">
                    </md-input-container>

                  <!--   <div class="msg-block" ng-show="!changePassword.confirm.$error.validator || errorMsg">
                        <span class="msg-error" style="color:#2ECC71;" ng-hide="changePassword.confirm.$error.validator">Your Passwords Match!</span>
                        <span class="msg-error" style="color:#EF4836;" ng-hide="!changePassword.confirm.$error.validator">{{ errorMsg }}</span>
                    </div> -->
                </div>

                <md-divider ng-class="md-default-theme"></md-divider>

                <div layout="row" layout-align="end center" layout-padding>
                    <md-button class="md-primary">Change Password</md-button>
                </div>

            </form>

        </div>

    </md-content>

</md-card>


