<div>

    <form>
        <div class="profileImgCont" ng-file-select ng-file-change="sweet.photoChange(profile)" ng-model="profile.image" accept="image/*">
            <img ng-src="data:image/jpeg;base64,{{ profile.image }}" alt="profilePicture">
            <span class="chg-span">Change Profile Picture</span>
        </div>
    </form>
    <p style="color:black;">{{profile.image}}</p>
    <form>
        <input type="text" placeholder="Name" ng-model="profile.name">
        <input type="email" placeholder="Email" ng-model="profile.email">
    </form>

    <button>Change Password</button>

    <form name="changePassword" ng-show="password" ng-submit="changePw(pw)">
        <p id="pwNote">Enter a new password and confirm below</p>
        <input type="password" placeholder="Password" name="pw.password" ng-model="pw.password" ng-minlength="6" ng-maxlength="20" required>
        <input type="password" placeholder="Confirm Password" name="confirm" ng-model="pw.confirm" ui-validate=" '$value==pw.password' " ui-validate-watch=" 'pw.password' " required>
        <div class="msg-block" ng-show="!changePassword.confirm.$error.validator || errorMsg">
            <span class="msg-error" style="color:#2ECC71;" ng-hide="changePassword.confirm.$error.validator">Your Passwords Match!</span>
            <span class="msg-error" style="color:#EF4836;" ng-hide="!changePassword.confirm.$error.validator">{{ errorMsg }}</span>
        </div>
        <input type="submit" value="Change Password">
    </form>

</div>


